<div class="card shadow rounded">
    <div class="card-header" style="background-color: #6200ee;color: #ffffff;">
        <img src="/reddit-icon.png" width="30" height="30">
        <i class="font-weight-bold"><%= reddit.data.nbr %></i> last posts for <i class="font-weight-bold"><%= reddit.data.sub %></i> subreddit.
    </div>
    <div class="card-body">
        <% if (reddit.data.posts) {%>
            <% for (let i = 0; i < reddit.data.posts.length; i++) { %>
                <a href="<%= reddit.data.posts[i].link %>">#<%= i + 1 %> - <%= reddit.data.posts[i].title %> by <%= reddit.data.posts[i].author %></a><br>
            <% } %>
        <% } %>
    </div>
</div>
