<!DOCTYPE html>
<html>
    <head>
        <%- include partials/header.ejs %>
        <title>Dashboard</title>
    </head>
    <body style="background-color: #ffffff">
        <nav class="navbar sticky-top navbar-light shadow" style="background-color: #3700B3;">
            <form method="post" action="/signout/" name="signoutForm">
                <a class="navbar-brand" style="color: #ffffff" href="#" onclick="document.signoutForm.submit()">Logout</a>
            </form>
            <form method="post" action="/settings/" name="settingsForm">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-cog" style="color: #ffffff" onclick="document.settingsForm.submit()"></i></a>
                    </li>
                </ul>
            </form>
        </nav>
        <div class="card-columns m-3">
            <%if (widget.meteo.state == true && widget.meteo.data.temp != null) { %>
                <%- include("partials/weather", {weather: widget.meteo}) %>
            <% } %>
            <%if (widget.steam.state == true && widget.steam.data.players != null) { %>
                <%- include("partials/steam", {steam: widget.steam}) %>
            <% } %>
            <% if (widget.ytViews.state) { %>
                <%- include("partials/youtubeViews", {views: widget.ytViews}) %>
            <% } %>
            <% if (widget.ytSub.state) { %>
                <%- include("partials/youtubeSubscribers", {subscribers: widget.ytSub}) %>
            <% } %>
            <% if (widget.ytLast.state) { %>
                <%- include("partials/youtubeLastComments", {lastComments: widget.ytLast}) %>
            <% } %>
            <% if (widget.reddit.state) { %>
                <%- include("partials/reddit", {reddit: widget.reddit}) %>
            <% } %>
        </div>
    </body>
</html>