<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="60; url=#">
        <%- include partials/header.ejs %>
        <title>Dashboard</title>
    </head>
    <body style="background-color: #ffffff">
        <nav class="navbar sticky-top navbar-light shadow" style="background-color: #3700B3;">
            <form method="post" action="/signout/" name="signoutForm">
                <a class="navbar-brand" style="color: #ffffff" href="#" onclick="document.signoutForm.submit()">Logout</a>
            </form>
            <form method="post" action="/settings/" name="settingsForm">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-cog" style="color: #ffffff" onclick="document.settingsForm.submit()"></i></a>
                    </li>
                </ul>
            </form>
        </nav>
        <div class="card-columns m-3">
            <% for (let i = 0; i < widgets.meteo.length; i++) { %>
                <%if (widgets.meteo[i].state == true && widgets.meteo[i].data.temp != null) { %>
                <%- include("partials/weather", {weather: widgets.meteo[i]}) %>
                <% } %>
            <% } %>
            <% for (let i = 0; i < widgets.steam.length; i++) { %>
                <%if (widgets.steam[i].state == true && widgets.steam[i].data.players != null) { %>
                    <%- include("partials/steam", {steam: widgets.steam[i]}) %>
                <% } %>
            <% } %>
            <% for (let i = 0; i < widgets.ytViews.length; i++) { %>
                <% if (widgets.ytViews[i].state) { %>
                    <%- include("partials/youtubeViews", {views: widgets.ytViews[i]}) %>
                <% } %>
            <% } %>
            <% for (let i = 0; i < widgets.ytSub.length; i++) { %>
                <% if (widgets.ytSub[i].state) { %>
                    <%- include("partials/youtubeSubscribers", {subscribers: widgets.ytSub[i]}) %>
                <% } %>
            <% } %>
            <% for (let i = 0; i < widgets.ytLast.length; i++) { %>
                <% if (widgets.ytLast[i].state) { %>
                    <%- include("partials/youtubeLastComments", {lastComments: widgets.ytLast[i]}) %>
                <% } %>
            <% } %>
            <% for (let i = 0; i < widgets.reddit.length; i++) { %>
                <% if (widgets.reddit[i].state) { %>
                    <%- include("partials/reddit", {reddit: widgets.reddit[i]}) %>
                <% } %>
            <% } %>
        </div>
    </body>
</html>