<!DOCTYPE html>
<html>
<head>
    <%- include partials/header.ejs %>
    <title>Settings</title>
</head>
<body style="background-color: #ffffff">
<nav class="navbar sticky-top navbar-light shadow" style="background-color: #3700B3;">
    <form method="post" action="/signout/" name="signoutForm">
        <a class="navbar-brand" style="color: #ffffff" href="#" onclick="document.signoutForm.submit()">Logout</a>
    </form>
    <form method="post" action="/main/" name="mainForm">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-backward" style="color: #ffffff" onclick="document.mainForm.submit()"></i></a>
            </li>
        </ul>
    </form>
</nav>
<%- include("partials/settingWeather.ejs", {settings: widget.meteo}) %>
<%- include("partials/settingSteam.ejs", {settings: widget.steam}) %>
<%- include("partials/settingViews.ejs", {settings: widget.ytViews}) %>
<%- include("partials/settingSubscribers.ejs", {settings: widget.ytSub}) %>
<%- include("partials/settingLastComments.ejs", {settings: widget.ytLast}) %>
<%- include("partials/settingReddit.ejs", {settings: widget.reddit}) %>
</body>
</html>