<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/titatoggle/2.1.2/titatoggle-dist.css" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body style="background-color: #ffffff">
<nav class="navbar sticky-top navbar-light shadow" style="background-color: #3700B3;">
    <form method="post" action="/signout/" name="signoutForm">
        <a class="navbar-brand" style="color: #ffffff" href="#" onclick="document.signoutForm.submit()">Logout</a>
    </form>
    <form method="post" action="/main/" name="mainForm">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-backward" style="color: #ffffff" onclick="document.mainForm.submit()"></i></a>
            </li>
        </ul>
    </form>
</nav>

<div class="card-columns m-3">
    <div class="card shadow rounded" style="background-color: #ffffff;">
        <form method="post" action="/updateMeteo/">
        <div class="card-header" style="background-color: #6200ee;color: #ffffff;">
            <img src="https://www.freeiconspng.com/uploads/weather-icon-png-16.png" width="30" height="30">
            What is the weather like in <i class="font-weight-bold"><%= widget.meteo.data.city %></i>, today ?
            <div class="checkbox checkbox-slider--b-flat">
                <label>
                    <input style="-webkit-appearance: none" type="checkbox" name="mState" id="mState" <%= widget.meteo.state ? 'checked' : '' %>><span></span>
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="location">Change Location:</label>
                <input class="form-control" type="text" name="location" id="location" autofocus/>
                <small id="emailHelp" class="form-text text-muted">Only provide the id of the game.</small>
            </div>
            <div class="form-group">
                <label for="id">Timer:</label>
                <input class="form-control" type="number" min="5" name="id" id="id" autofocus/>
                <small id="emailHelp" class="form-text text-muted">Number of seconds between each widget refresh.</small>
            </div>
        </div>
        <div class="card-footer text-right">
            <input class="btn btn-link" type="submit" value="Save"/>
        </div>
        </form>
    </div>
    <div class="card shadow rounded" style="background-color: #ffffff;">
        <form method="post" action="/updateSteam/">
        <div class="card-header" style="background-color: #6200ee;color: #ffffff;">
            <img src="https://png.icons8.com/metro/1600/steam.png" width="30" height="30">
            How many players are playing at <i class="font-weight-bold"><%= widget.steam.data.name %></i> ?
            <div class="checkbox checkbox-slider--b-flat">
                <label>
                    <input style="-webkit-appearance: none" type="checkbox" id="sState" name="sState" <%= widget.steam.state ? 'checked' : '' %>><span></span>
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="id">Change Game:</label>
                <input class="form-control" type="number" name="id" id="id" autofocus/>
                <small id="emailHelp" class="form-text text-muted">Only provide the id of the game.</small>
            </div>
            <div class="form-group">
                <label for="id">Timer:</label>
                <input class="form-control" type="number" name="id" id="id" min="5" autofocus/>
                <small id="emailHelp" class="form-text text-muted">Number of seconds between each widget refresh.</small>
            </div>
        </div>
        <div class="card-footer text-right">
            <input class="btn btn-link" type="submit" value="Save"/>
        </div>
        </form>
    </div>

    <div class="card shadow rounded" style="background-color: #ffffff;">
        <form method="post" action="">
            <div class="card-header" style="background-color: #6200ee;color: #ffffff;">
                <img src="https://www.freeiconspng.com/uploads/youtube-logo-icon-symbol-18.png" width="30" height="30">
                Number of views for <%= widget.ytViews.data.name %>
                <div class="checkbox checkbox-slider--b-flat">
                    <label>
                        <input style="-webkit-appearance: none" type="checkbox" id="sState" name="sState" <%= widget.ytViews.state ? 'checked' : '' %>><span></span>
                    </label>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="id">Change Video:</label>
                    <input class="form-control" type="text" name="id" id="id" autofocus/>
                    <small id="emailHelp" class="form-text text-muted">Only provide the id of the video.</small>
                </div>
                <div class="form-group">
                    <label for="id">Timer:</label>
                    <input class="form-control" type="number" name="id" id="id" min="5" autofocus/>
                    <small id="emailHelp" class="form-text text-muted">Number of seconds between each widget refresh.</small>
                </div>
            </div>
            <div class="card-footer text-right">
                <input class="btn btn-link" type="submit" value="Save"/>
            </div>
        </form>
    </div>

    <div class="card shadow rounded" style="background-color: #ffffff;">
        <form method="post" action="">
            <div class="card-header" style="background-color: #6200ee;color: #ffffff;">
                <img src="https://www.freeiconspng.com/uploads/youtube-logo-icon-symbol-18.png" width="30" height="30">
                Number of subscribers for <%= widget.ytSub.data.name %>
                <div class="checkbox checkbox-slider--b-flat">
                    <label>
                        <input style="-webkit-appearance: none" type="checkbox" id="sState" name="sState" <%= widget.ytSub.state ? 'checked' : '' %>><span></span>
                    </label>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="id">Change channel:</label>
                    <input class="form-control" type="text" name="id" id="id" autofocus/>
                    <small id="emailHelp" class="form-text text-muted">Only provide the id of the channel.</small>
                </div>
                <div class="form-group">
                    <label for="id">Timer:</label>
                    <input class="form-control" type="number" name="id" id="id" min="5" autofocus/>
                    <small id="emailHelp" class="form-text text-muted">Number of seconds between each widget refresh.</small>
                </div>
            </div>
            <div class="card-footer text-right">
                <input class="btn btn-link" type="submit" value="Save"/>
            </div>
        </form>
    </div>

    <div class="card shadow rounded" style="background-color: #ffffff;">
        <form method="post" action="">
            <div class="card-header" style="background-color: #6200ee;color: #ffffff;">
                <img src="https://www.freeiconspng.com/uploads/youtube-logo-icon-symbol-18.png" width="30" height="30">
                <%= widget.ytLast.data.nbr %> last comment for <%= widget.ytLast.data.name %>
                <div class="checkbox checkbox-slider--b-flat">
                    <label>
                        <input style="-webkit-appearance: none" type="checkbox" id="sState" name="sState" <%= widget.ytLast.state ? 'checked' : '' %>><span></span>
                    </label>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="id">Change video or number of comments:</label>
                    <input class="form-control" type="text" name="id" id="id" autofocus/>
                    <small id="emailHelp" class="form-text text-muted">Only provide the id of the channel.</small>
                </div>
                <div class="form-group">
                    <label for="id">Number of last comments:</label>
                    <input class="form-control" type="number" name="id" id="id" min="1" autofocus/>
                    <small id="emailHelp" class="form-text text-muted">Number of last comments.</small>
                </div>
                <div class="form-group">
                    <label for="id">Timer:</label>
                    <input class="form-control" type="number" name="id" id="id" min="5" autofocus/>
                    <small id="emailHelp" class="form-text text-muted">Number of seconds between each widget refresh.</small>
                </div>
            </div>
            <div class="card-footer text-right">
                <input class="btn btn-link" type="submit" value="Save"/>
            </div>
        </form>
    </div>

</div>

</body>
</html>